.my-weather-card {
	width: 260px ;
}

.my-weather-card-image {
	margin-top: 16px;
	border: 3px outset #eee;
}

.my-weather-card-description {
	font-weight: 600;
	margin-top: 64px;
}

.my-emphasised-details {
	font-weight: 600;
}